@{
    ViewData["Title"] = "About";
}

<div class="card mt-5 mx-auto" style="max-width:800px">
    <div class="card-body">
        Щодо генерації посиланнь.<br /><br />
        Посилання складається з 7 символів, з набору 0-9, A-Z, a-z, символи "_" та "+". Разом всі складають 64 варіанти символу.<br />
        Кількість комбінацій дорівнює 64 ^ 7 = 4.39 * 10 ^ 12. Багато. При генерації 1000 посиланнь в секунду, комбінації завершаться через >100 років.<br /><br />
        Комбінації генеруються не за допомогою хешування посилання, а використовуючи лічільник. Коли генерується нове посилання, лічільник інкрементується, проходе через функцію-конвертор, та видає нам ці 7 символів.<br />
        Але можна звернути увагу, що ці 7 символів генеруються не послідовно, а (псевдо) рандомно. Справа в тому, що лічільник помножується на просте число (518973461827), а потім береться остача від ділення на кількість можливих комбінацій.<br /><br />
        Так як лічільник один, а запитів може бути багато, то лічільник було розділено на проміжки (розміром 10 ^ 9), та кожний окремий запит бере в займи один з цих проміжків.
    </div>
</div>