@{
    ViewData["Title"] = "Welcome";
}

<div class="card mt-5 mx-auto" style="max-width:800px">
    <div class="card-body">
        Мені леньки написати цю сторінку. Зверху є дві вкладки (одна, якщо ви не админ) - Urls та Users.<br />
        Створити скорочення можна на сторінці Urls. Видалити можна, якщо ви її створювач, або якщо ви адмін.<br />
        Якщо ви адмін, ви також можете видаляти користувачів на сторінці Users, або дізнатись про створені ними посилання.<br /><br />
        При видаленні користувача їх посилання не видаляються (спеціально так зробив, щоб посилання залишалось активним для тих, хто цим посиланням користується).<br />
        Раз на 10 хвилин в базі даних видаляються ті посилання, строк яких закінчився.<br /><br />
        Профіль адміна для девелопмента (логін пароль) дивиться в файлі appsettings.Development.json.<br />
        Профіль адміна та строку підключення до бази даних для прода чи стейжингу створюйте в user secrets, або в Azure Key Vault.<br />
    </div>
</div>