@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="card mt-5 mx-auto" style="max-width: 400px;">
  <div class="card-body">
    <form method="post">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="row mb-3">
        <label asp-for="Username"></label>
        <div class="col-sm-10">
          <input asp-for="Username" />
          <span asp-validation-for="Username" class="text-danger"></span>
        </div>
      </div>
      <div class="row mb-3">
        <label asp-for="Email"></label>
        <div class="col-sm-10">
          <input asp-for="Email" />
          <span asp-validation-for="Email" class="text-danger"></span>
        </div>
      </div>
      <div class="row mb-3">
        <label asp-for="PhoneNumber"></label>
        <div class="col-sm-10">
          <input asp-for="PhoneNumber" />
          <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
      </div>
      <div class="row mb-3">
        <label asp-for="Password"></label>
        <div class="col-sm-10">
          <input asp-for="Password" />
          <span asp-validation-for="Password" class="text-danger"></span>
        </div>
      </div>
      <div class="row mb-3">
        <label asp-for="RememberMe"></label>
        <div class="col-sm-10">
          <input asp-for="RememberMe" />
        </div>
      </div>
      <input asp-for="ReturnUrl" />
      <button type="submit" class="btn btn-primary">Sign up</button>
      <a class="btn btn-outline-secondary" asp-action="LogIn" asp-route-ReturnUrl="@Model.ReturnUrl">I already have an account</a>
    </form>
  </div>
</div>