@using UrlShortener.DataAccess
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> userManager

@{
  var user = await userManager.GetUserAsync(User);
  bool isAuthenticated = user != null;

  bool isAdmin = false;
  if (isAuthenticated) isAdmin = await userManager.IsInRoleAsync(user, Constants.AdminRoleName);
}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@(ViewData["Title"] ?? "Url Shortener")</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" asp-href-include="~/lib/@@fortawesome/fontawesome-free/css/*.min.css" />
</head>

<body>
  <header>
    <nav class="navbar navbar-dark bg-dark sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Url Shortener</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
          aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Link
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled">Link</a>
            </li>
          </ul>
          @if (isAuthenticated)
          {
            <text>
              <form asp-controller="Account" asp-action="LogOut">
                <button type="submit">Log out <i class="fa-solid fa-right-from-bracket"></i></button>
              </form>
            </text>
          }
          else
          {
            <text>
              <a asp-controller="Account" asp-action="LogIn">Log in <i class="fa-solid fa-right-to-bracket"></i></a>
            </text>
          }
        </div>
      </div>
    </nav>
  </header>

  @RenderBody()

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
