@{
    ViewData["Title"] = "Not found";
}
<div class="card mt-5 mx-auto" style="max-width: 400px">
    <div class="card-body">
        Sorry, redirect was deleted, expired or did not existed at all.
    </div>
</div>